<div class="editController">
  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Birthday</th>
          <th>Show</th>
          <th>Update</th>
          <th>Delete</th>

        </tr>
      </thead>
      <tbody>
        <tr >
          <td>First Name: {{friend.first_name}}</td>
          <td>Last Name: {{friend.last_name}}</td>
          <td>Birthday: {{friend.birthday | date: yyyy-MM-dd}}</td>
          <td>Friend Created: {{friend.created_at | date: yyyy-MM-dd}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
