<div class="container">

  <form action="/users/<%= @user.id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="patch">

    <div class="form-group">
      <label for="first-name">First Name:</label>
      <input type="text" name="first_name" class="form-control" id="first-name" value="<%= @user.first_name %>">
    </div>

    <div class="form-group">
      <label for="last-name">Last Name:</label>
      <input type="text" name="last_name" class="form-control" id="last-name" value="<%= @user.last_name %>">
    </div>

    <button type="submit" class="btn btn-default">Edit User</button>
</form>

</div>
