<h1>All Secrets</h1>
<% @secrets.all.each do |secret| %>
	<h1><%= secret.content %></h1>
	<h3><%= secret.likes.count %> likes</h3>
	<% if secret.user == current_user %>
		<form action = "/secrets/<%= secret.id %>" method = "post">
		    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="_method" value="delete">
			<input type = 'submit' value = "Delete Secret">
		</form>
	<% end %>
<% end %>
