<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'email_validation/css/email-style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Email Validation</title>
    </head>
    <body>
        <div id="wrapper">
            <h3>Enter your email</h3>
            {% if messages %}
            <ul class="list-group">
                {% for message in messages %}
                <li class="list-group-item">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div id="email">
                <form action="{% url 'addemail' %}" method="POST">
                  {% csrf_token %}
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1">Email:</span>
                        <input type="text" name="email" class="form-control" aria-describedby="sizing-addon1">
                    </div>
                    <div id="submitbutton">
                            <input class="btn btn-default" type="submit" value="Submit">
                    </div>
                </form>
            </div>
            <!-- Show Email list in a table -->
            <div class="wrapper">
              <table class="table">
                  <tr>
                      <th>Email</th>
                      <th>Created</th>
                      <th>Actions</th>
                  </tr>
                  {% for email in emails %}
                  <tr>
                      <td>{{ email.email_name_id }}</td>
                      <td>{{ email.created_at }}</td>
                      <td><a href="{% url 'deleteemail' id=email.id %}">remove</a></td>
                  </tr>
                  {% endfor %}
                </table>
            </div>

        </div>
    </body>
</html>
