<html ng-app='myApp'>
<head>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js'></script>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="angular.js"></script>
</head>
<body>
  <div ng-controller='foodController'>

<div class="left">
    <form ng-submit='addFood()'>
      <label for="fave-food">Favorite Food</label>
       Name: <input type='text' ng-model='newFood' placeholder='add new favorite food'>
       <input type='submit' value="Add Food">
    </form>

    <div id ='model' ng-if = "newFood">
        <strong>Currently typing:</strong><span> {{newFood}}</span>
    </div>

    </div>


    <div class="right">
        <h2><u>List of my favorite foods</u></h2>
        <input placeholder="Filter fave foods in list..." type="text" ng-model="foodFilter">
        <div ng-repeat="food in faveFoods | filter:foodFilter track by $index">
            <p>{{food}}</p>
        </div>

    </div>
</body>
</html>


<!-- <html ng-app='myApp'>
<head>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js'></script>
    <script type='text/javascript'>
       var myAppModule = angular.module('myApp', []);
       myAppModule.controller('studentsController', function (){
          this.students = [
              {name: 'Mike', age: 34},
              {name: 'John', age: 24},
              {name: 'Trey', age: 24},
              {name: 'India', age: 35}
          ];
          this.addStudent = function(){
            this.students.push(this.newStudent);
            this.newStudent = {};
          }
      });
    </script>
</head>
<body>
  <div ng-controller='studentsController as studentsCtrl'>
    <ul>
        <li ng-repeat="student in studentsCtrl.students">{{ student.name }}, {{ student.age }}</li>
    </ul>
    <form>
       Name: <input type='text' ng-model='studentsCtrl.newStudent.name'>
       Age: <input type='text' ng-model='studentsCtrl.newStudent.age'>
       <input type='submit' value='add new student' ng-click='studentsCtrl.addStudent()'>
    </form>
  </div>
</body>
</html> -->
