<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Delete Transaction</title>
    </head>
    <body>
        <div class="container">
            <h3>Are you sure you want to remove all transactions? <b>Warning: This actions is irreversible!</b></h3>


            <form action="{% url 'index' %}">
                   {% csrf_token %}
                   <input class="btn btn-default" type="submit" value ="No">
            </form>

            <form action="{% url 'clearAll' id=expenditure.id%}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value ="Yes, I want to delete everything">
            </form>
        </div>
    </body>
</html>
