<div class="wrapper">

  <div class="date-time-display-title">
    The current time and date:
  </div>


<div class="date-time-display">

  <div class="date-display">
    <%= @current_date %>
  </div>

  <div class="time-display">
    <%= @current_time %>
  </div>

</div>

</div>
