<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'first_app/css/styles.css' %}"media="screen" title="no title" charset="utf-8"> -->
        <title>Courses</title>
    </head>
    <body>
        <div class="container">
          <h1>Add a new course</h1>
            <form action="{% url 'addcourse' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="InputName1">Name:</label>
                    <input type="text" class="form-control" id="InputName1" placeholder="Enter your course name" name="coursename">
                </div>

                <div>
                    <label for="comment">Description:</label>
                    <textarea class="form-control" rows="3" name="course_desc" placeholder="Enter description for your course"></textarea>
                </div>
                <div class="add-btn">
                  <input type="submit" class="btn btn-primary" name="formsubmit" value="Add">
                </div>
            </form>

            <h1>Courses</h1>

            <table class="table">
                <thead>
                  <tr>
                    <th>Course Name</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                {% for course in courses %}
                <tbody>
                  <tr>
                    <td>{{course.name}}</td>
                    <td>{{course.description}}</td>
                    <td>{{course.created_at}}</td>
                    <td><a href="{% url 'deletecourse' id=course.id %}">remove</a></td>
                      <!-- <form action="{% url 'deletecourse' id=course.id %}">
                        {% csrf_token %}
                        <input class="btn btn-default" type="submit" value="Remove">
                      </form>
                    </td> -->

                  </tr>
                </tbody>
                {% endfor %}

            </table>
        </div>
    </body>
</html>
